$text: #3b4a6b;
$gray: #4f4f4f;
$dark: #302e2f;
$blue: #1391ce;
$medium-blue: #3b4a6b;
$dark-blue: #25468a;
$super-dark-blue: #14274c;
$white: #ffffff;
$active: #f7ba0e;
$bg-color: #e9f5ff;
