html {
  font-size: 16px;
  font-family: "Roboto";
  overflow: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: auto;
  overflow-x: hidden;
  background-color: #e9f5ff;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
}

ul,
ol,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  background-color: #f7ba0e;
  color: #3b4a6b;
  padding: 15px 48.5px;
  border-radius: 24px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.btn:hover {
  background-color: #ffffff;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.none.header__logo {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .--flex-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .--justify-center-md {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .--align-center-md {
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.--align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.--justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.--justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.--flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding-top: 41px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__logo img {
  max-width: 100%;
}

.header__logo span {
  color: #25468a;
  font-size: 24.6829px;
  line-height: 117.49025%;
  font-weight: 700;
}

.nav__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__body {
    display: none;
  }
}

.nav__body li {
  color: #25468a;
  font-size: 16px;
  line-height: 118.75%;
  font-weight: 500;
  margin-right: 32px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.nav__body li:hover {
  color: #ffffff;
  -webkit-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}

.nav__body li .download {
  margin-right: 0;
  color: #14274c;
  background-color: #ffffff;
  border-radius: 24px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  display: inline-block;
  padding: 9px 18px;
}

.nav__body li .download:hover {
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  background-color: #f7ba0e;
  color: #ffffff;
}

.main {
  width: 100%;
  height: 100%;
}

.hero {
  margin-top: -14.3%;
  padding-top: 255px;
  background-color: #1391ce;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#e9f5ff)), rgba(19, 145, 206, 0.7);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #e9f5ff 100%), rgba(19, 145, 206, 0.7);
}

@media screen and (max-width: 940px) {
  .hero {
    padding-top: 300px;
  }
}

.hero section {
  margin-top: 193.48px;
}

@media screen and (max-width: 940px) {
  .hero section {
    margin: 0;
  }
}

.hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 940px) {
  .hero__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__left {
  width: 50%;
}

.hero__left-title {
  color: #25468a;
  font-size: 92px;
  line-height: 117.3913%;
}

.hero__left-subtitle {
  display: inline-block;
  color: #3b4a6b;
  font-size: 32px;
  line-height: 115.625%;
  margin: 8px 0 22px 0;
}

.hero__left-text {
  display: inline-block;
  color: #3b4a6b;
  font-size: 20px;
  line-height: 115%;
  color: #3b4a6b;
}

.hero__left .btn {
  margin-top: 28px;
  font-weight: 500;
  font-size: 18px;
  line-height: 116.66667%;
  letter-spacing: 0.04em;
}

@media screen and (max-width: 940px) {
  .hero__left {
    width: auto;
    text-align: center;
    margin-bottom: 25px;
  }
}

.hero__right {
  width: 50%;
  position: relative;
  height: 100%;
  right: -6%;
  margin-top: -2%;
}

@media screen and (max-width: 940px) {
  .hero__right {
    width: auto;
    right: 0;
    left: 0;
    margin: 0;
  }
}

@media screen and (max-width: 940px) {
  .hero__right img {
    max-width: 100%;
  }
}

.benefit {
  margin-top: 64.17px;
  margin-bottom: 63px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 352px;
  height: 189px;
  color: #ffffff;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.04em;
  text-align: center;
  background: #1391ce;
  -webkit-box-shadow: 0px 10px 15px rgba(31, 100, 133, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 15px rgba(31, 100, 133, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  margin-right: 32px;
  margin-top: 32px;
}

@media screen and (min-width: 1120px) {
  .card:nth-child(-n + 3) {
    margin-top: 0;
  }
  .card:nth-child(3n + 3) {
    margin-right: 0;
  }
}

@media screen and (max-width: 1119px) {
  .card:nth-child(even) {
    margin-right: 0px;
  }
}

@media screen and (max-width: 736px) {
  .card {
    width: 471px;
    margin-right: 0px;
  }
}

.features__title {
  font-weight: 300;
  font-size: 36px;
  line-height: 122.22222%;
  letter-spacing: 0.01em;
  color: #1391ce;
  text-align: center;
}

.features__title span {
  display: inline-block;
  position: relative;
}

.features__title span:after {
  content: "";
  display: block;
  width: 160px;
  height: 8px;
  background-color: #f7ba0e;
  position: absolute;
  margin-top: 15.83px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.features {
  margin-top: 130px;
  font-family: Inter;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 128px;
}

@media screen and (max-width: 940px) {
  .feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feature:nth-child(2n + 1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 940px) {
  .feature:nth-child(2n + 1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feature__image {
  width: 50%;
}

@media screen and (max-width: 940px) {
  .feature__image {
    width: auto;
    margin-top: 25px;
    padding: 25px;
  }
}

.feature__image img {
  -webkit-filter: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.04));
          filter: drop-shadow(0px 20px 25px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.04));
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .feature__image img {
    max-width: 100%;
  }
}

.feature__image:nth-child(2n + 1) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.feature__body {
  width: 40%;
}

@media screen and (max-width: 940px) {
  .feature__body {
    width: 50%;
  }
}

.feature__body span {
  display: inline-block;
  font-size: 16px;
  line-height: 131.25%;
  text-transform: uppercase;
  color: #25468a;
  margin-bottom: 16px;
  letter-spacing: 0.01em;
}

.feature__body h2 {
  font-size: 32px;
  line-height: 134.375%;
  color: #1391ce;
  letter-spacing: 0.01em;
  margin-bottom: 32px;
}

.feature__body p {
  display: block;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  position: relative;
}

.feature__body h4 {
  font-size: 22px;
  line-height: 136.36364%;
  color: #1391ce;
  letter-spacing: 0.02em;
  margin-top: 24px;
  margin-bottom: 16px;
}

.feature__body li {
  display: block;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #4f4f4f;
  padding-left: 38px;
  margin-bottom: 8px;
  position: relative;
}

.feature__body li:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background: url("../img/main/features/check.svg") no-repeat;
  position: absolute;
}

.license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 65px;
}

@media screen and (max-width: 1010px) {
  .license {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.license__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1010px) {
  .license__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.license__block {
  max-width: 481px;
  margin-right: 48px;
}

@media screen and (max-width: 1010px) {
  .license__block {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .license__block:last-child {
    margin: 0;
  }
}

.license__block:nth-child(even) {
  margin-right: 0;
}

.license__block a {
  display: inline-block;
  font-family: Inter;
  font-weight: 300;
  font-size: 36px;
  line-height: 122.22222%;
  color: #1391ce;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
  -webkit-transition: 0.4s color linear;
  transition: 0.4s color linear;
}

.license__block a:hover {
  -webkit-transition: 0.2s color ease-in-out;
  transition: 0.2s color ease-in-out;
  color: #f7ba0e;
}

.license__block p {
  font-size: 18px;
  line-height: 127.77778%;
  color: #4f4f4f;
}

.footer {
  padding: 32px 0 58px 0;
  background-color: #1391ce;
}

.footer a {
  font-weight: 500;
  color: #ffffff;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.footer a:hover {
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  color: #f7ba0e;
}

.footer__body {
  padding-top: 32px;
  border-top: 1px solid #ffffff;
}

@media screen and (max-width: 768px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #e9f5ff;
  }
  .content .nav .nav__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .content {
    display: none;
  }
}

.header__menu {
  position: absolute;
  margin-right: 15px;
  top: 41px;
  right: 15px;
  z-index: 9999;
}

@media screen and (min-width: 769px) {
  .header__menu {
    display: none;
  }
}

.menu-burger {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4f4f4f;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .menu-burger {
    display: block;
  }
}

.menu-burger span,
.menu-burger span::before,
.menu-burger span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  width: 20px;
  margin-left: -10px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
  z-index: 9999;
}

.menu-burger:hover {
  background-color: #fff;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}

.menu-burger:hover span,
.menu-burger:hover ::before,
.menu-burger:hover ::after {
  background-color: #000;
}

.menu-burger span::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.menu-burger span::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.menu-burger span:before, .menu-burger span::after {
  content: "";
}

.burger-active span {
  height: 0;
}

.burger-active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.content {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.content .nav .nav__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .nav .nav__body li {
  font-size: 22px;
  margin: 0 0 16px 0;
}

.content .nav .nav__body li:hover {
  color: #f7ba0e;
}

.content .nav .nav__body li .download {
  background-color: #f7ba0e;
  color: #ffffff;
}

.content-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
  margin-bottom: 50px;
}

.logo img {
  max-width: 100%;
}

.logo span {
  color: #25468a;
  font-size: 24.6829px;
  line-height: 117.49025%;
  font-weight: 700;
}
