@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]::before {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
}

[class*=_icon-]::before {
  display: block;
}

._icon-arrow-first::before {
  content: "\e900";
}

._icon-arrow-second::before {
  content: "\e901";
}

:root {
  --color-orange: #ff8a56;
  --color-violet: #b16cea;
  --color-white: #fff;
  --color-ruby: #ff5e69;
  --color-gold: #ffa84b;
  --color-blue: #4353ff;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 75.9375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.625rem;
}

[class*=__container_none] {
  max-width: none;
  margin: 0;
}

[class*=__container_small] {
  max-width: 68.625rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem 1.875rem;
  text-align: center;
  color: var(--color-white);
  background-color: #000;
  transition: all 0.4s ease 0s;
}
.button_transparent {
  flex-direction: row-reverse;
  align-items: center;
  color: #000;
  background-color: transparent;
}
.button_transparent::before {
  margin-left: 1.75em;
}
@media (any-hover: hover) {
  .button_transparent:hover {
    color: var(--color-white);
    background-color: #000 !important;
  }
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #333;
  }
}

.name-block_centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.name-block__title {
  max-width: 48rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: var(--color-ruby);
}
@media (min-width: 77.1875em) {
  .name-block__title {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .name-block__title {
    font-size: clamp( 1.125rem , 1.037568306rem  +  0.4371584699vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .name-block__title {
    font-size: 1.125rem;
  }
}
.name-block__title_gold {
  color: var(--color-gold);
}
.name-block__title_violet {
  color: var(--color-violet);
}
.name-block__title_blue {
  color: var(--color-blue);
}
@media (min-width: 77.1875em) {
  .name-block__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .name-block__title:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.8282103825rem  +  0.5464480874vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .name-block__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.name-block__text {
  max-width: 48rem;
  font-weight: 700;
  line-height: 1.0925925926;
  letter-spacing: 0.0625rem;
  color: #000;
}
@media (min-width: 77.1875em) {
  .name-block__text {
    font-size: 3.375rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .name-block__text {
    font-size: clamp( 1.5rem , 0.8442622951rem  +  3.2786885246vw , 3.375rem );
  }
}
@media (max-width: 20em) {
  .name-block__text {
    font-size: 1.5rem;
  }
}
.name-block__text_white {
  color: var(--color-white);
}

.swiper-buttons {
  display: flex;
  column-gap: 0.4375rem;
}
.swiper-buttons__prev, .swiper-buttons__next {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9375rem;
  background-color: var(--color-white);
  color: #000;
  transition: all 0.3s ease 0s;
  padding: 1.25rem 1.375rem;
}
.swiper-buttons__prev::before {
  transform: rotate(-180deg) translateY(0.03125rem);
}
.swiper-buttons_black {
  background-color: #000;
  color: var(--color-white);
}
.swiper-buttons_gap-none {
  column-gap: 0;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
}
@media (min-width: 48em) {
  .header__container {
    padding-top: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 48em) {
  .header__container {
    padding-top: clamp( 1.25rem , 0.3571428571rem  +  4.4642857143vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .header__container {
    padding-top: 1.25rem;
  }
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-open .menu__body {
  left: 0;
}
.menu-open .menu__body::before {
  left: 0;
}
@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 4;
    overflow: auto;
    padding: 0 0.625rem 0.625rem 0.625rem;
    padding-top: 4.375rem;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: left 0.6s ease 0s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 6;
    display: block;
    width: 100%;
    height: 4.25rem;
    background-color: #000;
    transition: left 0.6s ease 0s;
  }
}
.menu__list {
  display: flex;
}
@media (min-width: 77.1875em) {
  .menu__list {
    column-gap: 3.25rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .menu__list {
    column-gap: clamp( 1.25rem , 0.5505464481rem  +  3.4972677596vw , 3.25rem );
  }
}
@media (max-width: 20em) {
  .menu__list {
    column-gap: 1.25rem;
  }
}
@media (min-width: 47.99875em) {
  .menu__list {
    align-items: center;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    flex-direction: column;
    height: 100%;
    row-gap: 0.625rem;
  }
}
.menu__link {
  transition: color 0.3s ease 0s;
}
.menu__link._icon-arrow-first {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
}
.menu__link._icon-arrow-first::before {
  margin: 0 0 0 1em;
  font-size: 0.8125em;
}
@media (max-width: 47.99875em) {
  .menu__link {
    text-transform: uppercase;
    color: var(--color-white);
  }
}
@media (max-width: 47.99875em) and (min-width: 77.1875em) {
  .menu__link {
    font-size: 2rem;
  }
}
@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 77.1875em) {
  .menu__link {
    font-size: clamp( 1.5rem , 1.325136612rem  +  0.8743169399vw , 2rem );
  }
}
@media (max-width: 47.99875em) and (max-width: 20em) {
  .menu__link {
    font-size: 1.5rem;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--color-orange);
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    position: relative;
    z-index: 5;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.6s ease 0s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::before, .menu-open .icon-menu::after {
    background-color: var(--color-white);
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    transform: rotate(45deg);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
}

.hero {
  background-color: var(--color-white);
  color: #000;
}
@media (min-width: 77.1875em) {
  .hero {
    padding-top: 12.375rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .hero {
    padding-top: clamp( 6.25rem , 4.1079234973rem  +  10.7103825137vw , 12.375rem );
  }
}
@media (max-width: 20em) {
  .hero {
    padding-top: 6.25rem;
  }
}
.hero__body {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .hero__body {
    flex-direction: column;
    justify-content: stretch;
  }
}
.hero__content {
  flex: 0 0 50.9465020576%;
  padding-right: 1.25rem;
}
@media (max-width: 61.99875em) {
  .hero__content {
    flex: 1 0 49.3827160494%;
    padding: 0;
  }
}
@media (max-width: 61.99875em) and (min-width: 77.1875em) {
  .hero__content:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 77.1875em) {
  .hero__content:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 1.1407103825rem  +  0.5464480874vw , 1.5625rem );
  }
}
@media (max-width: 61.99875em) and (max-width: 20em) {
  .hero__content:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.hero__title {
  font-weight: 700;
  line-height: 1.1388888889;
  letter-spacing: 0.125rem;
  color: #000;
}
@media (min-width: 77.1875em) {
  .hero__title {
    font-size: 4.5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .hero__title {
    font-size: clamp( 2rem , 1.1256830601rem  +  4.3715846995vw , 4.5rem );
  }
}
@media (max-width: 20em) {
  .hero__title {
    font-size: 2rem;
  }
}
.hero__title span {
  color: var(--color-orange);
}
@media (min-width: 77.1875em) {
  .hero__title:not(:last-child) {
    margin-bottom: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .hero__title:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.9221311475rem  +  1.6393442623vw , 2.1875rem );
  }
}
@media (max-width: 20em) {
  .hero__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.hero__text {
  line-height: 1.5;
  color: #666;
}
@media (min-width: 77.1875em) {
  .hero__text {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .hero__text {
    font-size: clamp( 1.125rem , 1.037568306rem  +  0.4371584699vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .hero__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 77.1875em) {
  .hero__text:not(:last-child) {
    margin-bottom: 2.375rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .hero__text:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.856557377rem  +  1.9672131148vw , 2.375rem );
  }
}
@media (max-width: 20em) {
  .hero__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.hero__buttons {
  display: flex;
  gap: 0.625rem;
}
@media (max-width: 47.99875em) {
  .hero__buttons {
    flex-direction: column;
  }
}
.hero__image-ibg {
  flex: 0 0 41.1522633745%;
  align-self: flex-start;
  margin-top: -2.875rem;
  padding-bottom: 50%;
}
@media (max-width: 61.99875em) {
  .hero__image-ibg {
    flex: 1 0 41.1522633745%;
    align-self: stretch;
    margin: 0;
  }
}
@media (max-width: 47.99875em) {
  .hero__image-ibg {
    padding-bottom: 108%;
  }
}

.trust {
  background-color: var(--color-white);
  color: #000;
}
@media (min-width: 77.1875em) {
  .trust {
    padding-top: 5.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .trust {
    padding-top: clamp( 1.875rem , 0.7165300546rem  +  5.7923497268vw , 5.1875rem );
  }
}
@media (max-width: 20em) {
  .trust {
    padding-top: 1.875rem;
  }
}
@media (min-width: 77.1875em) {
  .trust {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .trust {
    padding-bottom: clamp( 1.875rem , 0.7821038251rem  +  5.4644808743vw , 5rem );
  }
}
@media (max-width: 20em) {
  .trust {
    padding-bottom: 1.875rem;
  }
}
.trust__title {
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
}
@media (min-width: 77.1875em) {
  .trust__title:not(:last-child) {
    margin-bottom: 2.8125rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .trust__title:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.5471311475rem  +  1.6393442623vw , 2.8125rem );
  }
}
@media (max-width: 20em) {
  .trust__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
.trust__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 77.1875em) {
  .trust__body {
    column-gap: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .trust__body {
    column-gap: clamp( 1.25rem , -0.4986338798rem  +  8.7431693989vw , 6.25rem );
  }
}
@media (max-width: 20em) {
  .trust__body {
    column-gap: 1.25rem;
  }
}
@media (min-width: 77.1875em) {
  .trust__body {
    row-gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .trust__body {
    row-gap: clamp( 1.25rem , 0.8128415301rem  +  2.1857923497vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .trust__body {
    row-gap: 1.25rem;
  }
}
.trust__body img {
  max-width: 100%;
}

.services {
  background-color: var(--color-white);
  color: #000;
}
@media (min-width: 77.1875em) {
  .services {
    padding-top: 4.75rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .services {
    padding-top: clamp( 1.875rem , 0.8695355191rem  +  5.0273224044vw , 4.75rem );
  }
}
@media (max-width: 20em) {
  .services {
    padding-top: 1.875rem;
  }
}
@media (min-width: 77.1875em) {
  .services {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .services {
    padding-bottom: clamp( 1.875rem , 0.7821038251rem  +  5.4644808743vw , 5rem );
  }
}
@media (max-width: 20em) {
  .services {
    padding-bottom: 1.875rem;
  }
}
@media (min-width: 77.1875em) {
  .services__name-block:not(:last-child) {
    margin-bottom: 7.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .services__name-block:not(:last-child) {
    margin-bottom: clamp( 3.75rem , 2.5478142077rem  +  6.0109289617vw , 7.1875rem );
  }
}
@media (max-width: 20em) {
  .services__name-block:not(:last-child) {
    margin-bottom: 3.75rem;
  }
}
.services__body {
  margin: 0 -2.8125rem;
  row-gap: 1.25rem;
  display: flex;
  flex-wrap: wrap;
}
.card-services {
  flex: 1 1 33.333%;
  min-width: 20rem;
  padding: 0 2.8125rem;
}
.card-services__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-services__img {
  flex: 0 0 4.375rem;
  width: 4.375rem;
}
@media (min-width: 77.1875em) {
  .card-services__img:not(:last-child) {
    margin-bottom: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .card-services__img:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.8128415301rem  +  2.1857923497vw , 2.5rem );
  }
}
@media (max-width: 20em) {
  .card-services__img:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.card-services__img img {
  max-width: 100%;
}
.card-services__title {
  flex: 1 1 auto;
  font-weight: 700;
  line-height: 1.0833333333;
}
@media (min-width: 77.1875em) {
  .card-services__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .card-services__title {
    font-size: clamp( 1.125rem , 0.993852459rem  +  0.6557377049vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .card-services__title {
    font-size: 1.125rem;
  }
}
@media (min-width: 77.1875em) {
  .card-services__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .card-services__title:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.718920765rem  +  1.0928961749vw , 1.5625rem );
  }
}
@media (max-width: 20em) {
  .card-services__title:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.card-services__text {
  line-height: 1.75;
  color: #666;
}
@media (min-width: 47.99875em) {
  .card-services__text {
    max-width: 15.75rem;
  }
}
@media (min-width: 77.1875em) {
  .card-services__text:not(:last-child) {
    margin-bottom: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .card-services__text:not(:last-child) {
    margin-bottom: clamp( 0.9375rem , 0.7844945355rem  +  0.7650273224vw , 1.375rem );
  }
}
@media (max-width: 20em) {
  .card-services__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}
.card-services__item {
  font-weight: 700;
  line-height: 1.75;
  position: relative;
  padding-left: 1.0625rem;
}
.card-services__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.card-services__item::before {
  content: "";
  position: absolute;
  width: 0.4375rem;
  height: 0.4375rem;
  top: 50%;
  background: #000;
  transform: translateY(-50%);
  left: 0;
}

.projects {
  background-color: var(--color-white);
  color: #000;
}
@media (min-width: 77.1875em) {
  .projects {
    padding-top: 5.5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .projects {
    padding-top: clamp( 1.875rem , 0.6072404372rem  +  6.3387978142vw , 5.5rem );
  }
}
@media (max-width: 20em) {
  .projects {
    padding-top: 1.875rem;
  }
}
@media (min-width: 77.1875em) {
  .projects {
    padding-bottom: 5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .projects {
    padding-bottom: clamp( 1.875rem , 0.7821038251rem  +  5.4644808743vw , 5rem );
  }
}
@media (max-width: 20em) {
  .projects {
    padding-bottom: 1.875rem;
  }
}
.projects__top {
  display: flex;
  row-gap: 1.25rem;
}
@media (min-width: 77.1875em) {
  .projects__top:not(:last-child) {
    margin-bottom: 4.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .projects__top:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.1099726776rem  +  3.825136612vw , 4.0625rem );
  }
}
@media (max-width: 20em) {
  .projects__top:not(:last-child) {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .projects__top {
    flex-direction: column;
  }
}
@media (min-width: 47.99875em) {
  .projects__top {
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 61.99875em) {
  .projects__slider {
    margin-right: calc((100% - 100vw) / 2);
  }
}
@media (max-width: 47.99875em) {
  .projects__slider {
    margin: 0 -0.625rem;
  }
}
@media (min-width: 77.1875em) {
  .projects__slider:not(:last-child) {
    margin-bottom: 1.625rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .projects__slider:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 1.118852459rem  +  0.6557377049vw , 1.625rem );
  }
}
@media (max-width: 20em) {
  .projects__slider:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.projects__buttons-swiper {
  justify-content: flex-end;
}

.slide-projects__img-ibg {
  padding-bottom: 62.7572016461%;
}
.slide-projects__content {
  background-color: var(--color-white);
}
@media (min-width: 77.1875em) {
  .slide-projects__content {
    padding: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .slide-projects__content {
    padding: clamp( 1.5625rem , 1.4532103825rem  +  0.5464480874vw , 1.875rem );
  }
}
@media (max-width: 20em) {
  .slide-projects__content {
    padding: 1.5625rem;
  }
}
.slide-projects__title {
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: 0.25rem;
  color: var(--color-blue);
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 77.1875em) {
  .slide-projects__title:not(:last-child) {
    margin-bottom: 1.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .slide-projects__title:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.4719945355rem  +  0.7650273224vw , 1.0625rem );
  }
}
@media (max-width: 20em) {
  .slide-projects__title:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.slide-projects__sub-title {
  line-height: 1.0833333333;
  color: #000;
  font-weight: 700;
}
@media (min-width: 77.1875em) {
  .slide-projects__sub-title {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .slide-projects__sub-title {
    font-size: clamp( 1.125rem , 0.993852459rem  +  0.6557377049vw , 1.5rem );
  }
}
@media (max-width: 20em) {
  .slide-projects__sub-title {
    font-size: 1.125rem;
  }
}
@media (min-width: 77.1875em) {
  .slide-projects__sub-title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 77.1875em) {
  .slide-projects__sub-title:not(:last-child) {
    margin-bottom: clamp( 0.625rem , 0.406420765rem  +  1.0928961749vw , 1.25rem );
  }
}
@media (max-width: 20em) {
  .slide-projects__sub-title:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
.slide-projects__link {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
}
.slide-projects__link::before {
  font-size: 0.9375em;
  margin-left: 0.625em;
}
.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}
